<div class="row">
    <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="text-right">
            <button type="button" class="btn btn-success" routerLink="/clientes/criar">Novo Cliente</button>
        </div>
        <div class="text-center" *ngIf="!existemClientes()">
            Nenhum Cliente cadastrado.
        </div>
    </div>
</div>

<table class="table table-striped" *ngIf="clientes && clientes.length > 0">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Data de Cadastro</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes, let index = index">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.endereco}}</td>
            <td>{{cliente.creatAt | date}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm ml-1"
                    routerLink="/cliente/editar/{{cliente.id}}">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaCliente(cliente.id)">X</button>
            </td>
        </tr>
    </tbody>
</table>
